//Style SASS for Bulma, renders into css/main.css
//Colin Elliott, 2023

@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Custom Colors
$default-tile-color: #f5f5f5;
$default-tile-color-hover: #e5e5e5;

// Update Bulma's global variables

$family-sans-serif: "Roboto", sans-serif;
/*
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
*/
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
//$body-background-color: #CCC;

$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

//custom styles

.columns {
    padding: 1.0rem;
}

.box {
    background-color: $default-tile-color;
}

.box:hover {
    background-color: $default-tile-color-hover;
}