//Style SASS for Bulma, renders into css/main.css
//Colin Elliott, 2023

@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Custom Colors
$default-tile-color: #f5f5f5;
$default-tile-color-hover: #e5e5e5;
$dark-tile-color: #333;
$dark-tile-color-hover: #222;
$tile-select-color: #9999CC;
$tile-select-color-dark: rgb(35, 31, 72);

// Update Bulma's global variables

$family-sans-serif: "Roboto", sans-serif;

/*
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
*/

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: #444;

//BEGIN CUSTOM STYLES

//CONTAINERS
.columns, #column-container {
    padding: 1.0rem;
    margin-right: 1.0rem;
    margin-left: 1.0rem;
}

.box {
    background-color: $default-tile-color;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px $default-tile-color-hover);
    transition-duration: 1s;
    border: 2px solid $default-tile-color-hover;
}

.box:hover {
    background-color: $tile-select-color;
    filter: drop-shadow(7px 7px 5px $default-tile-color-hover);
    border: 2px solid $tile-select-color-dark;
}

//TILES
.tile.is-child {
    background-color: $default-tile-color;
    padding: 0.75rem;
    border-radius: 10px;
    border: 2px solid $default-tile-color-hover;
    filter: drop-shadow(5px 5px 5px $default-tile-color-hover);
    transition-duration: 1s;
}

.tile:hover.is-child {
    background-color: $tile-select-color;
    border: 2px solid $tile-select-color-dark;
    filter: drop-shadow(7px 7px 5px $default-tile-color-hover);
}

img {
    border-radius: 10px;
}

.title {
    color: $dark-tile-color;
    font-size: x-large;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
}

.title:hover {
    color: $dark-tile-color-hover;
}

.icon {
    padding-left: 0.5rem;
    color: $tile-select-color-dark;
}

.subtitle {
    color: $dark-tile-color;
    font-size: large;
    padding: 0.5rem;
}

#brand-tab {
    text-align: left;
    padding-right: 2.0rem;
}

.tabs li.is-active a {
    border-bottom-color: $tile-select-color;
    color:  $tile-select-color-dark;
}

//END CUSTOM STYLES

//downloaded input styles
label input[type="radio"] {
    display: none;
}
label input[type="radio"] ~ span {
    position: relative;
    display: inline-block;
    padding: 3px 0 3px 25px;
}
label input[type="radio"] ~ span:before {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    background: $tile-select-color;
    margin-right: 5px;
    border: 1px solid $tile-select-color-dark;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
}
label input[type="radio"]:checked ~ span:before {
    border: 5px solid $tile-select-color-dark;
}

label.spin input[type="checkbox"] {
    display: none; /*hides ugly toggle*/
}
label.spin input[type="checkbox"] ~ span {
    position: relative;
    display: inline-block;
    padding: 3px 0 3px 25px; /*adds spacing on the left*/
}
/*create our new toggle*/
label.spin input[type="checkbox"] ~ span:before {
    content: "\2713"; /*add a new check mark*/
    text-align: center;
    font-size: 13px;
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    background: #fff;
    color: #fff;
    margin-right: 5px;
    border: 1px solid $default-tile-color;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transition: all 500ms ease-in-out;
}
/*if checked do this*/
label.spin input[type="checkbox"]:checked ~ span:before {
    transform: rotatez(360deg);
    background: $tile-select-color;
    border-color: $tile-select-color-dark;
}

